@font-face {
	font-family: "JUST Sans Outline";

	src: url('./FontPackage/JUST Sans Outline Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "JUST Sans Outline";

	src: url('./FontPackage/JUST Sans Outline ExBold.otf');
	font-weight: bold;
	font-style: normal;
}


h1 {
	font-family: "JUST Sans Outline";
	font-weight: bold;
}
