:root {
	--image-width: 35vw;
}

@font-face {
	font-family: "JUST Sans Outline";

	src: url('./FontPackage/JUST Sans Outline Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "JUST Sans Outline";

	src: url('./FontPackage/JUST Sans Outline ExBold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu-B';
	src: url('./FontPackage/ubuntu-b-webfont.woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu-M';

	src: url('./FontPackage/ubuntu-m-webfont.woff2');
	font-weight: normal;
	font-style: normal;
}
body {
	box-sizing: border-box;
	display: flex;
}
* {
	box-sizing: inherit;
	margin: 0;
	font-family: 'Ubuntu-M';
	font-style: normal;
}

h1 {
	font-family: "Ubuntu-B";
	font-weight: bold;
}
#mainContent {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
	flex-direction: column;
	width: calc(100% - var(--image-width));
}
#heroText {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}
fieldset {
	background-color: rgba(145, 143, 135, 0.3);
}

#formHolster {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;	
}

#formHolster > label {
	color: #000000;
}

button {
	background-color: #e04807;
}

#contactHolster,
#passwordHolster,
#namesHolster {
	display: flex;
	gap: 1em;
	width: 80%;
	align-items: center;
	justify-content: center;
}
.formItem {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 40%;
	text-wrap: auto;
	flex: auto;
	opacity: 1;
}
input {
	border: 0.0075em;
	border-radius: 0.125rem;
	border-style: solid;
}
input:focus {
	border: 0.0125em;
	border-radius: 0.125rem;
	border-style: solid;
	
}
input:invalid {
	border: 0.0075em;
	border-radius: 0.12rem;
	border-style: solid;
	border-color: red;
}

#sideSplash {
	display: flex;
	flex-direction: column;
	z-index: 0;
	position: relative
}

#sideSplash img {
	width: var(--image-width);
	height: 100vh;
}
#logo-splash {
	position: absolute;
	z-index: 1;

}

#logo-splash, #logo-splash img{
	display: flex;

	}
#logo-splash img {
	max-height: 30%;
	background-color: rgba(19, 99, 71, 0.2);
	align-items: top;
	justify-content: space-around;

}

#attribution {
	flex: auto;
}
